.container{
    width: 90%;
    margin: 0 auto;
}
button{
    font-size: 1.8rem;
}
img{
    width: 12rem;
}
.my-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.my-navbar-item{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.my-navbar-item div{
    font-size: 1.8rem;
    padding: 1rem;
}
.my-navbar-item div:hover{
    border-radius: 0.2rem;
    background-color: rgba(180, 190, 203, 0.4);
}


